.body {
  display: flex;
}

.body3 {
  width: 35%;
}

#body2 {
  margin: 0%;
  padding: 0%;
  height: 70%;
}

#LogIn {
  padding: 8%;
  padding-top: 4%;
  margin-top: 3%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(224, 223, 223, 0.568);
  border-width: 2px;
  border-style: solid;
  border-color: lightgray;
}

#buttonGoogle {
  text-align: center;
  margin-bottom: 2%;
  margin-top: 1%;
 display: inline;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  background-color: #1CB0A7;
  border: none;
  font-size: 17px;
  padding: 3% 2% 2% 2%;
  color: white;
  align-self: center;
}

#buttonGoogle img{
  float: left;
  height: 20px;
  width: 28px;
  padding-right: 2%;

}


#buttonGoogle:hover {
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  font-size: 17px;
  padding: 2%;
  color: #00bfff;
  border: solid;
  border-color: #1CB0A7;
}

.inicio {
  padding: 8%;
  padding-top: 4%;
  margin-top: 3%;
  margin-left: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(224, 223, 223, 0.568);
  border-width: 2px;
  border-style: solid;
  border-color: lightgray;
}

#email {
  margin-top: 2%;
  padding: 0.5%;
  margin-left: 30%;
  width: 40%;
  border-radius: 6px;
  border-color: lightgray;
}

#password {
  padding: 0.5%;
  margin-top: 2%;
  margin-left: 30%;
  width: 40%;
  border-radius: 6px;
  border-color: lightgray;
}

#buttonLogIn {
  margin-left: 36%;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2%;
  background-color: #1CB0A7;
  border: none;
  font-size: 15px;
  padding: 1.5%;
  color: white;
}
#buttonLogIn:hover {
  margin-left: 36%;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 2%;
  background-color: transparent;
  border: solid;
  border-color: #00bfff;
  font-size: 15px;
  padding: 2%;
  color: #00bfff;
}

.registro {
  padding: 8%;
  padding-top: 4%;
  margin-top: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(224, 223, 223, 0.568);
  border-width: 2px;
  border-style: solid;
  border-color: lightgray;
}

#linkRegister {
  text-decoration: none;
  margin-left: 35%;
  background-color: #1CB0A7;
  width: fit-content;
  color: white;
  font-size: 15px;
  padding: 1%;
  border-radius: 5px;
  font-size: large;
  margin-top: 2%;
}
#linkRegister:hover {
  text-decoration: none;
  margin-left: 35%;
  background-color: transparent;
  width: fit-content;
  color: #00bfff;
  font-size: 15px;
  padding: 1%;
  border-radius: 5px;
  border: solid;
  border-color: #00bfff;
  font-size: large;
}

#isLoading{
  width: 100%;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
  background-image: url("../../Images/Loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-content: center;
  color: white;
}
