.body {
    background-image: url("../../Images/Terapia.png");
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 1%;
    padding-bottom: 3%;
}

#img1 {
  width: 150px;
  height: 150px;
  border: 7px solid #6eb5b8;
  border-radius: 100%;
}

br {
  line-height:0px;
}

.box1 {
  padding-top: 0.5%;
  width: 87%;
  margin: auto;
  margin-left: -1%;
  margin-top: -122%;
  display: flex;
  flex-direction: row;
}

.info {
  text-align: center;
  margin-left: 10%;
  font-family: 'Scope One', serif;
  width: 100%;
  height: 20%;
}

.boxFS {
  height: 40%;
}

.boxAE {
  height: 40%;
}

#boxFSS {
  display: inline-block;
  margin-top: 3%;
  margin-right: 1%;
  height: 300%;
}

#boxBSS {
  display: inline-block;
  margin-right: 20%;
  height: 300%;
}

#rol {
  margin-top: 1%;
  margin-bottom: 0%;
}

#names {
  padding-top: 2%;
}

.box4 {
  margin-top: 1%;
  margin-bottom: 1%;
  
}
#bigbox{
  display:absolute;
  float: right;
  margin: auto;
  margin-right: 2%;
  margin-top: 50%;
  width: 70%;
  height: 40%;
}
.box2 {
  box-sizing: border-box;
  width: 25%;
  border: 7px solid #6eb5b8;
  margin-left: 2%;
  background-color:white;
  margin-bottom: 3%;
}

#label1 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label2 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label3 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label4 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label5 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

.label6 {
  color: black;
  font-family: 'Scope One', serif;
  text-align: center;
}


#label8 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#volver {
  box-sizing: border-box;
  font-family: 'Scope One', serif;
  border: 2px solid darkorange;
  margin-left: 75%;
  border-radius: 30px;
  padding: 0.5%;
  color: black;
  font-weight: 600;
  background-color: #ffd779;
}

#Modify {
  box-sizing: border-box;
  font-size: 13px;
  border: 3px solid #ffd779;
  border-radius: 30px;
  padding: 0.5%;
  color: black;
  font-weight: 600;
  background-color: #ffd779;
  margin-bottom: 2%;
}

.box3 {
  width: 70%;
  margin-bottom: 0%;
  height: 45%;
  background-color: yellow;
}

#areas {
  width: 120%;
  margin-top: 1%;
}

#profesionalt {
  width: 120%;
  margin-top: 3%;
}

.box7 {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2.5%;
  padding-bottom: 3%;
  width: 95%;

}

.box8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 45%;
}
.box9{
  margin-right: 2.5%;
  margin-left: 2.5%;
}

#academia {
  width: 117%;
  margin-top: 0.5%;
}

#info {
  width: 117%;
  margin-top: 0.5%;
}

.caja {
  border: 7px solid #6eb5b8;
  height: 130px;
  width: 320px;
  background-color: white;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#isLoading{
  width: 100%;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
  background-image: url("../../Images/Loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-content: center;
  color: white;
}

