.body {
  background-image: url("../../Images/Terapia.png");
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
}

#img1 {
  width: auto;
  margin-left: 6.5%;
  border: 7px solid #6eb5b8;
  border-radius: 100%;
}

.box1 {
  padding-top: 2%;
  display: flex;
  flex-direction: row;
}

.info {
  text-align: center;
  font-family: 'Scope One', serif;
  width: 100%;
  height: 20%;
}

#rol {
  margin-top: 1%;
  margin-bottom: 0%;
}

#names {
  padding-top: 2%;
}

.box4 {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  
}

.box2 {
  box-sizing: border-box;
  width: 25%;
  border: 7px solid #6eb5b8;
  margin-left: 2%;
  padding-bottom: 1%;
  background-color: white;
}

#label1 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label2 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label3 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label4 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label5 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#label6 {
  color: black;
  font-family: 'Scope One', serif;
}

#profesional {
  color: black;
  font-family: 'Scope One', serif;
}

#label7 {
  color: black;
  font-family: 'Scope One', serif;
}

#about {
  color: black;
  font-family: 'Scope One', serif;
}
#label8 {
  font-weight: 600;
  font-family: 'Scope One', serif;
  color: black;
}

#volver {
  box-sizing: border-box;
  font-family: 'Scope One', serif;
  border: 2px solid darkorange;
  margin-left: 75%;
  border-radius: 30px;
  padding: 1%;
  color: black;
  font-weight: 600;
  background-color: #ffd779;
}

#Modify {
  box-sizing: border-box;
  font-size: 13px;
  border: 3px solid #ffd779;
  border-radius: 30px;
  padding: 0.5%;
  color: black;
  font-weight: 600;
  background-color: #ffd779;
  margin-bottom: 2%;
}

.box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 0%;
  height: 45%;
}

#areas {
  width: 120%;
  margin-top: 3%;
}

#profesionalt {
  width: 120%;
  margin-top: 3%;
}

.box7 {
  margin-left: 7.5%;
  width: 70%;
}

.box8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 45%;
}

#academia {
  width: 117%;
  margin-top: 0.5%;
}

#info {
  width: 117%;
  margin-top: 0.5%;
}

.caja {
  box-sizing: border-box;
  border: 7px solid #6eb5b8;
  height: 80%;
  width: 130.5%;
  background-color: white;
}

#caja2 {
  box-sizing: border-box;
  border: 7px solid #6eb5b8;
  height: 80%;
  width: 110%;
  background-color: white;
}

#caja3 {
  box-sizing: border-box;
  border: 7px solid #6eb5b8;
  height: 85%;
  width: 106%;
  background-color: white;
}

#caja4 {
  box-sizing: border-box;
  border: 7px solid #6eb5b8;
  height: 80%;
  width: 300%;
  background-color: white;
}
#isLoading{
  width: 100%;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
  background-image: url("../../Images/Loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-content: center;
  color: white;
}