#body {
    background-image: url("../../Images/Terapia.png");
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 1%;
}


#isLoading{
  width: 100%;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
  background-image: url("../../Images/Loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-content: center;
  color: white;
}


#box1{
  background-color: white;
  width: 50%;
  margin-top: 2.5%;
  border-radius: 1rem;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #6eb5b8;
  border-width: 0.5rem;
}
.label{
  text-align: left;
}

.pspace{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  display: inline-flex;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.pinput{
  display: inline-flex;
  background-color: white;
  border-radius: 0.25rem;
  color: black;
  width: 15rem;
  height: 1.75rem;
  
}

.fields {
  display: inline-flex;
  background-color: white;
  border-radius: 0.25rem;
  color: black;
  width: 15rem;
  height: 1.75rem;
}

#register{
  margin-top: 5%;
  font-family: 'Scope One', serif;
  background-color:#ffd779;
  font-weight: bold;
  list-style: none;
  padding: 1%;
  border-radius: 1rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
}