#subtitle {
  display: flex;
  justify-content: center;
}

img {
  height: 150px;
}

.profileDiv {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 70%;
  top: 32%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo {
  height: 100%;
  width: 100%;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  color: white;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.link {
  margin-top: 0.5%;
  padding: 0.5%;
  margin-bottom: 0.5%;
}

.link:hover {
  transition: 0.2s;
  color:darkblue;
  font-weight: bold;
  text-decoration: underline;
}

p {
  padding: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 2%;
}

#title {
  text-align: center;
  font-family: 'Scope One', serif;
  margin-top: 3%;
}

h2 {
  margin-bottom: 0.5%;
}

#Bottoms_Container {
  justify-content: center;
  display: flex;
}

#Logo {
  max-width: 2.75%;
  border-radius: 50%;
  border-style: groove;
  margin-top: 0%;
  margin-bottom: 1%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}
#Logo:hover{
  max-width: 2.8%;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  cursor:pointer;
}
.DatesContainer {
  max-width: 75%;
  padding-left: 25%;
}

#File1 {
  display: flex;
  margin-bottom: 3%;
}

#File2 {
  margin-bottom: 3%;
}

#File3 {
  display: flex;
  margin-bottom: 3%;
}

#File5 {
  display: flex;
  margin-top: 4%;
  margin-bottom: 3%;
}

#File6 {
  margin-bottom: 10%;
}

.fields {
  margin-left: 4%;
  margin-right:4%;
  color: black;
  background-color: #E9E5E5;
  padding-right: 1%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  margin-right: 1%;
  width: 26%;
}

#line {
  max-width: 55%;
  margin-top: 3%;
  padding-left: 28%;
}

.slash {
  font-size: 300%;
  margin-top: -2%;
  padding-top: -2%;
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-weight: 10;
}

#register {
  margin-left: 68.5%;
  color: white;
  background-color: #1cb0a7;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  border-color: #1cb0a7;
  border-width: 3px;
  border:solid;
  font-size: medium;
}

#register:hover {
  margin-left: 68.5%;
  color: #1cb0a7;
  background-color: transparent;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  cursor: pointer;
  border-color: #1cb0a7;
  border-width: 3px;
  border:solid
}

#instructions {
  margin-left: 5%;
  text-align: center;
}

#instructions2{
  padding-left: 4.5%;
  padding-bottom: 1%;
}

#isLoading{
  width: 100%;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
  background-image: url("../../Images/Loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-content: center;
  color: white;
}
