#Body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#Slyder {
  background-color: blue;
  height: 200px;
}

#AboutUs {
  padding-left: 8.5%;
  padding-right: 8.5%;
}

.h1AboutUs {
  text-align: center;
  font-size: 285%;
  margin-top: 1.5%;
  margin-bottom: 1%;
  color:#434244;
  
}
.h1AboutUs:hover{
  color:black;
  font-size: 290%;
  transition: 0.5s;
}

.pAboutUs {
  text-align: center;
  font-size: 190%;
  margin-bottom: 2%;
  margin-top: 1%;
  color: #434244;
}

#Rates {
  background-color: #6eb5b8;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.BottomRates {
  background-color: #f5a020;
  max-width: 47.5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
.BottomRates:hover{
  max-width: 50%;
  transition: 1s;
}

.h4Bottom {
  color: white;
  font-size: 240%;
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 4%;
}

.pBottom {
  color: white;
  font-size: 150%;
  margin-top: 0%;
  text-align: center;
  margin-bottom: 2%;
}

#FAQs {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  cursor: pointer;
}

.BottomFAQs {
  list-style: none;
  color: white;
  text-decoration: none;
  padding: 8px;
  background-color: #6eb5b8;
  border-radius: 10px;
  max-width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.pFAQs {
  text-align: center;
  font-weight: bold;
}

#LinkCreateAccount {
  background-color: white;
  margin: 40%;
}
