#Body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#Slyder{
    background-color: blue;
    height: 500px;
}

#AboutUs{
    padding-left: 5%;
    padding-right: 5%;
}

.h1AboutUs{
    text-align: center;
    font-size: 285%;
}

.pAboutUs{
    text-align: center;    
    font-size: 200%;
}

#Rates{
    background-color: #6EB5B8;
    padding-left: 5%;
    padding-right: 5%;
}

.h1Rates{
    text-align: center;
    font-size: 285%;
    
}

.pRates{
    text-align: center;    
    font-size: 200%;
}

.BottomRates{
    background-color: #F5A020;
}

.h4Bottom{
    color: white;
}

.pBottom{
    color:white
}

