#nombre {
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 0%;
}

#fecha {
  margin: 0%;
  padding: 0%;
}

#titulo {
  background-color: lightblue;
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.card {
  margin-top: 1%;
  margin-bottom: 1%;
  min-width: 20%;
  background-color: aliceblue;
  padding-bottom: 0.5%;
  margin-left: 1%;
}

#isLoading {
  width: 100%;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
  background-image: url("../../Images/Loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-content: center;
  color: white;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
}

.types{
  text-align: center;
  margin-top: 3%;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  border: solid;
  background-color: #6eb5b8;
}

#sections{
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

#chatOpen:link {
  background-color: #ffd779;
  text-decoration: none;
  border-radius: 30px;
  margin-bottom: 2%;
}

#chatOpen:hover {
  background-color: #6eb5b8;
  text-decoration: none;
  border-radius: 0;
  margin-bottom: 1%;
  color: white;
}

#history {
  background-color: #6eb5b8;
  text-decoration: none;
  border-radius: 30px;
  margin-bottom: 2%;
  border: none;
  font-size: medium;
  padding: 1%;
}

#history:hover {
  background-color: #ffd779;
  text-decoration: none;
  border-radius: 0;
  margin-bottom: 1%;
  color: white;
}

#save{
  background-color: #ffd779;
  text-decoration: none;
  border-radius: 30px;
  margin-bottom: 2%;
  border: none;
  font-size: medium;
  padding: 2%;
}

#save:hover {
  background-color: #6eb5b8;
  text-decoration: none;
  border-radius: 0;
  margin-bottom: 1%;
  color: white;
}

