#nombre {
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 0%;
}

#fecha {
  margin: 0%;
  padding: 0%;
}

#titulo {
  background-color: lightblue;
  margin: 0%;
  padding: 0%;
}

.card {
  margin-top: 1%;
  margin-bottom: 5%;
  width: 20%;
  background-color: aliceblue;
  padding-bottom: 0.5%;
  margin-left: 40%;
}

#isLoading {
  width: 100%;
  text-align: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4%;
  background-image: url("../../Images/Loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  align-content: center;
  color: white;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#sections{
  margin-left: 5%;
}
