.body{
    background-image: url("../../Images/Terapia.png");
    width: 100%;
    height: 110%;
    background-size: cover;
    background-repeat: no-repeat;
}

#section{
    text-align: center;
}

.titulo{
    padding-top: 0;
    text-align: center;
}

.question{
    margin-bottom: 0%;
    margin-top: 2%;
}

#input {
    border-radius: 0.8rem;
    padding: 0.5%;
}

textarea {
    width: 20rem;
}


#button{
    margin:auto;
    display:block;
    text-align: center;
    font-weight: 800;
    font-family: 'Scope One', serif;
    background-color:#ffd779;
    padding: 0.4%;
    list-style: none;
    border-radius: 0.9rem;
    border-width: thin;
}

#isLoading{
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4%;
    background-image: url("../../Images/Loading.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    align-content: center;
    color: white;
}

#PopUp{
    background-color: white;
    border: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    padding: 3%
}