.body {
  background-image: url("../../Images/Terapia.jpg");
  width: 100%;
}

.buttons_usuario {
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin: 0%;
}
#buttons1 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#buttons2 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#Mis_consults {
  margin-top: 5%;
  margin-bottom: 30%;
  cursor: pointer;
  text-align: center;
}
#Mis_consults:hover{
  text-shadow: -3px -3px 3px #0000DF, 3px -3px 3px #0000DF, -3px 3px 3px #0000DF, 3px 3px 3px #0000DF;
}


#Ver_especialists {
  margin-top: 5%;
  margin-bottom: 30%;
  cursor: pointer;
  text-align: center;
}


#My_chats {
  margin-top: 2.5%;
  margin-bottom: 30%;
  cursor: pointer;
  text-align: center;
  font-size: 200%;
}
#My_chats:hover{
    text-shadow:  -1px -1px #fff;
}


#Calendar {
  margin-top: 5%;
  margin-bottom: 30%;
  cursor: pointer;
  text-align: center;
}

#title{
  text-align: center;
  margin-top: 0%;
  padding-top: 5%;
  margin-bottom: 10%;
}

#image{
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 100px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  display: block;
  margin: auto;
}