.body {
  background-image: url("../../Images/Terapia.jpg");
  width: 100%;
}

.buttons_usuario {
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin: 0%;
}
#buttons1 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#buttons2 {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#Mis_consults {
  margin-top: 35%;
  margin-bottom: 20%;
  cursor: pointer;
  border-radius: 10px;
}

#Ver_especialists {
  margin-top: 35%;
  margin-bottom: 38.4%;
  cursor: pointer;
  border-radius: 10px;
}

#My_chats {
  margin-top: 35%;
  margin-bottom: 20%;
  cursor: pointer;
  border-radius: 10px;
}

#Calendar {
  margin-top: 35%;
  margin-bottom: 38.4%;
  cursor: pointer;
  border-radius: 10px;
}

#title{
  text-align: center;
  margin-top: 0%;
  padding-top: 5%;
}
