#body {
    background-image: url("../../Images/Terapia.png");
    width: 100%;
    height: 110%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #PopUp{
    background-image: url("../../Images/Terapia.png");
    width: 100%;
    height: 110%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  h2 {
    font-size: 23px;
  }
  
  p{
    font-size: 17px;
  }
  .info {
    text-align: center;
    font-family: 'Scope One', serif;
    width: 70%;
    height: 20%;
    margin-left: 20%;
    margin-top: -12%;
  }
  
  #nombre {
    font-size: 30px;
  }
  #label1 {
    font-weight: 600;
    color: black;
  }
  
  #label2 {
    font-weight: 600;
    color: black;
  }
  
  #label3 {
    font-weight: 600;
    color: black;
  }
  
  #label4 {
    font-weight: 600;
    color: black;
  }
  
  #label5 {
    font-weight: 600;
    color: black;
  }
  
  #label6 {
    color: black;
  }
  
  #label8 {
    font-weight: 600;
  
    color: black;
  }
  
  #title {
    text-align: center;
    font-family: "Scope One", serif;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 300%;
  } 
  
  #container {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }
  
  #psychoCards {
    display: flex;
    font-family: "Scope One", serif;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: #1cb0a7;
    border-width: 20px;
  }
  
  #psychoCards img {
    border-radius: 100%;
    border-style: solid;
    border-color: black;
    display: block;
    width: 150px;
    height: 150px;
  }
  
  .psychoList {
    background-color: #ffd779;
    font-weight: 580;
    border-radius: 30px;
    font-family: "Scope One", serif;
    list-style: none;
    text-align: center;
    margin: 5px;
  }
  .psychoListD {
    background-color:red;
    font-weight: 580;
    border-radius: 30px;
    font-family: "Scope One", serif;
    list-style: none;
    text-align: center;
    margin: 5px;
  }
  
  #containerQuest {
    background-color: #1cb0a7;
    border-radius: 10px;
    width: 80%;
    height: 20%;
    justify-content: center;
    padding: auto;
    display: flex;
    margin-bottom: 7.5%;
    padding: 0.5%;
    margin-right: auto;
    margin-left: auto;
  }
  #name {
    width: 90%;
    font-family: "Scope One", serif;
    font-size: large;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 10px;
    border-style: hidden;
  }
  #button {
    background-color: white;
    color: black;
    border-color: lightgray;
    padding: 0.8%;
    border-style: solid;
    border-radius: 5px;
  }
  #button:hover {
    border-color: darkcyan;
    background-color: darkcyan;
    color: white;
  }
  
  #isLoading {
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4%;
    background-image: url("../../Images/Loading.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    align-content: center;
    color: white;
  }
  
  #PopUp {
    background-color: white;
    font-family: "Scope One", serif;
    font-size: large;
    box-shadow: 0px 0px 10px 0px #000000;
    width: 130%;
    padding: 5%;
    position: relative;
    left: -45%;
    height: 100%;
    display: flex;
    position: relative;
  }
  
  
  #box5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .box7 {
    display: block;
    flex-direction: column;
  }
  
  #label10 {
    margin-top: 3%;
  }
  
  #label7 {
    margin-top: 3%;
  }
  
  .caja {
    box-sizing: border-box;
    border: 0.25rem solid #6eb5b8;
    height: 4rem;
    width: 9rem;
    background-color: white;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  #profesional {
    margin-top: 10%;
  }
  
  #about {
    margin-top: 10%;
  }
  
  
  #itinerary{
    background-color: lightblue;
    padding: 5%;
    width: auto;
    box-shadow: 0px 0px 10px 0px #000000;
  }
  
  #linkk{
    background-color: white;
    margin-left: 6.3%;
    border-color: black;
    border:solid;
    border-width: 0.5px;
    border-radius: 5px;
  }
  #block{
    text-align: center;
    font-family: 'Scope One', serif;
    font-size: 100%;
    font-weight: bold;
  }
  #img2{
    margin-bottom: 15%;
  }
  .box1{
    display: flex;
    
  }
  .box2 {
    box-sizing: border-box;
    width: 30%;
    border: 7px solid #6eb5b8;
    margin-left: 2%;
    padding-bottom: 1%;
    background-color: white;
    height: 40%;
    margin-right: 5%;
    

  }
  #img1 {
    width: 5rem;
    height: 5rem;
    margin-left: 6.5%;
    border: 0.25rem solid #6eb5b8;
    border-radius: 100%;
  }
  #bigbox{
    display: inline;
    
  }
  .box3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 0%;
    height: 45%;
  }
  .label10 {
    color: black;
    font-family: 'Scope One', serif;
    text-align: center;
    font-size: 70%;
  }
  .box8{
    margin: 2.5%;
  }
  .label1 {
    color: black;
    font-family: 'Scope One', serif;
    text-align: center;
    font-size: 60%;
  }
  .infor{
    font-size: 40%;
  }

  #paintstars{
    color: gold;
  }