.body{
    background-color: 	#fffaf0;
    padding-bottom: 3%;
    width: 100%;
    height: 100%;
}

.messages{
    margin: 2rem auto;
    padding-bottom: 2rem;
    width: 82%;
    box-shadow: 0 0.32rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 0.625rem;
    height: 25rem;
    z-index: 1;
    background-image: url("../../Images/Terapia.png");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: grid;
    overflow-y: scroll;
    
}
.writespace {
    margin:auto;
    margin-bottom: 2%;
    padding: 1.5rem;
    width: 82%;
    box-shadow: 0 0.32rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 0.625rem;
    background-image: url("../../Images/Terapia.png");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: grid;
    overflow-y: scroll;
}

.titulo {
    margin-top: -4%;
    margin-bottom: -2%;
    font-family: 'Lato', sans-serif;
    font-weight:500;
    font-size: 2rem;
    padding-bottom:1.5rem;
}

#button {
    position:absolute;
    margin-left: 93%;
    margin-top: -5rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color:#ffd779;
    border-color: #fdfd96;
    transition-duration: 0.3s;
    padding:0.5%;
}

#button:hover {
    background-color: #fbec5d;
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 0px 10px 0 rgba(0,0,0,0.19);
}

.textPsicologo{
    width: 200px;
    height: 50px;
    margin:auto;
    background-color: #d3d3d3;
    color: black;
    line-height: 18px;
    text-align: center;
    padding: 5px 6px 0px 6px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    word-break: break-all;
    display: flex;
    flex-direction: row;
    margin-left: 2rem; 
    margin-right: auto;
    box-shadow: 0 0.32rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.textPsicologo::before {
    content: '';
    width: 20px; 
    height: 20px;
    background-color: inherit;
    left: -10px; 
    position: absolute;
    transform:  rotate(45DEG); 
    Top: 50%;
    margin-top: -5px;
  }


.textPaciente{
    width: 200px;
    height: 50px;
    margin:auto;
    background-color: lightblue;
    color: black;
    line-height: 18px;
    text-align: center;
    padding: 5px 6px 0px 6px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    word-break: break-all;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto; 
    margin-right: 2rem;
    box-shadow: 0 0.32rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

.textPaciente::before {
    content: '';
    width: 20px; 
    height: 20px;
    background-color: inherit;
    right: -10px; 
    position: absolute;
    transform:  rotate(45DEG); 
    Top: 50%;
    margin-top: -5px;
  }

#mensajePaciente {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
}

#mensajePsicologo {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
}

#namePaciente{
    margin-bottom: -0.5%;
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: right;
    margin-right: 2rem;
}

#namePsicologo{
    margin-bottom: -0.5%;
    font-size: 0.8rem;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: left;
    margin-left: 2rem;
}

#mensaje{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 0.85rem;
}

@media only screen and (max-width: 470px) {
    .writespace {
        width:65%;
        margin-left: 8.5%;
        
    }

    #button {
        position:absolute;
        margin-left: 80%;
        margin-top: -4rem;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color:#ffd779;
        border-color: #fdfd96;
        transition-duration: 0.3s;
        padding:0.5%;
        
        
    }
}