#NavBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px;
    background-color: #6eb5b8;
    font-family: Arial, Helvetica, sans-serif;
    position:sticky;
    top: 0px;
    height: 70px;
    z-index: 7;
    overflow: hidden;
    
}


#Logo {
    padding-top: 8%;
    max-width: 5rem;
    max-height: 3.25rem;
    cursor: pointer;
    padding: 2%;
}

#NavLoginLink:link {
    color: black;
    text-decoration: none;
}

#NavLoginLink:visited {
    color: black;
    text-decoration: none;
}

#NavLoginLink:active {
    color: white;
    text-decoration: none;
}

#NavLoginLink:hover {
    color:black;
    text-decoration: none;
}

.NavLink:link {
    color: black;
    text-decoration: none;
}

.NavLink:visited {
    color: black;
    text-decoration: none;
}

.NavLink:active {
    color: white;
    text-decoration: none;
}

.NavLink:hover {
    color: white;
    text-decoration: none;
}

#LoginButton {
    list-style: none;
    color: black;
    text-decoration: none;
    display: inline;
    padding: 8px;
    background-color: #ffd779;
    /* border: 1px solid #2e518b; */
    border-radius: 15px;
    margin-left: 20px;
}

#LoginButton:hover {
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 8px;
    background-color: white;
    /* border: 3px solid #2e518b;
    border-radius: 15px; */
    margin-left: 20px;
    transition: 0.2s ease-in-out;
}

.NavButton {
    margin-left: 20px;
    display: inline;
}

.NavButton:hover{
    margin-left: 20px;
    display: inline;
    border-bottom: solid white 2px;
}

#NavList {
    list-style: none;
    align-items: center; 
}

#NavMenu {
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 980px) {
  
  #NavList {
    display: none;
  }
}

/* Prueba navbar dropdown */

#Logo {
    padding-bottom: 1%;
}