#NavBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px;
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
    position:sticky;
    top: 0px;
    
}

#Logo {
    max-width: 110px;
    max-height: 110px;
}

#NavLoginLink:link {
    color: white;
    text-decoration: none;
}

#NavLoginLink:visited {
    color: white;
    text-decoration: none;
}

#NavLoginLink:active {
    color: white;
    text-decoration: none;
}

#NavLoginLink:hover {
    color: red;
    text-decoration: none;
}

.NavLink:link {
    color: black;
    text-decoration: none;
}

.NavLink:visited {
    color: black;
    text-decoration: none;
}

.NavLink:active {
    color: white;
    text-decoration: none;
}

.NavLink:hover {
    color: white;
    text-decoration: none;
}

#LoginButton {
    list-style: none;
    color: white;
    text-decoration: none;
    display: inline;
    padding: 8px;
    background-color: blue;
    border: 1px solid #2e518b;
    border-radius: 50px;
    margin-left: 20px;
}
#LoginButton:hover {
    list-style: none;
    color: red;
    text-decoration: none;
    display: inline;
    padding: 8px;
    background-color: transparent;
    border: 3px solid #2e518b;
    border-radius: 50px;
    margin-left: 20px;
}

.NavButton {
    margin-left: 20px;
    display: inline;
}

#NavList {
    list-style: none;
    align-items: center;
}

#NavMenu {
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}