.body {
  background-image: url("../../Images/Terapia.png");
  width: 100%;
  height: 110%;
  background-size: cover;
  background-repeat: no-repeat;
}

.buttons_usuario {
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin: 0%;
}
#buttons1 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

#buttons2 {
  display: flex;
  flex-direction: column;
  width: 25%;
}
#buttons3 {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.subtitle{
  color:red;
  text-align: center;
  background-color: #ffd779;
  border-radius: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.linkto {
  cursor: pointer;
  text-align: center;
  font-size: 200%;
  margin-left: auto;
  margin-right: auto;
}
.linkto:hover{
  text-shadow:  -1px -1px #fff;
}


#title{
  text-align: center;
  font-family: 'Scope One', serif;
  margin-top: 0%;
  padding-top: 5%;
  margin-bottom: 4%;
  font-size: 250%;
}
#subtitle{
  text-align: center;
  font-family: 'Scope One', serif;
  margin-top: 0%;
  padding-top: 5%;
  margin-bottom: 4%;
  font-size: 150%;
}

#image{
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 100px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  display: block;
  margin: auto;
}
#image:hover{
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 100px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  transition: 1s;
  cursor: pointer;
}
.card{
  
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 0%;
  padding-left: 0%;
}