#body{
    background-image: url("../../Images/Terapia.jpg");
    
}


#title{
    text-align: center;
    color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 300%;
}
#title:hover{
    font-size: 305%;
    color: #1CB0A7;
    transition: 0.15s;
}

#container{
    margin-left: 10%;
    margin-right: 10%; 
    padding-bottom: 5%; 
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#psychoCards{
    display: flex;
    flex-direction: column;
    background-color: white;
    background-size: cover;
}
.psychoList{
    background-color:white;
    list-style: none;
    text-align: center;
    margin: 5px;
}
.psychoListA{
    background-color: green;
    list-style: none;
    text-align: center;
    margin: 5px;
}
.psychoListD{
    background-color: red;
    list-style: none;
    text-align: center;
    margin: 5px;
}
.psychoListC{
    background-color:silver;
    list-style: none;
    text-align: center;
    margin: 5px;
}

#containerQuest{
    background-color: #1CB0A7;
    border-radius: 10px;
    width: 80%;
    height: 20%;
    justify-content: center;
    padding: auto;
    display: flex;
    margin-bottom: 7.5%;
    padding: 0.5%;
    margin-right: auto;
    margin-left: auto;
}
#name{
    width: 75%;
    font-size: large;
    margin-right: 5%;
}
#button{
    background-color:#1CB0A7;
    color: white;
    border-color: black;
    padding: 2%;
    border-style:solid;
}
#button:hover{
    border-color: white;
}

#isLoading{
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4%;
    background-image: url("../../Images/Loading.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    align-content: center;
    color: white;
}